* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000000;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.3rem 8.5rem;
    gap: 0.8rem;
}


.platform-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10rem
}

.platform-text {
    display: flex;
    flex-direction: column;
}

p {
    margin: 12.7rem 10rem;
    max-width: 38rem;
    font-size: 2rem;
    font-family: Noto Sans;
}

h1 {
    font-size: 6.4rem;
    max-width: 64.3rem;
    font-family: Montserrat;
    line-height: 7rem;
}




.vignette-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.vignette-container img {
    width: 100%;
    height: 82rem;
    object-fit: cover;
}

.vignette-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(179.83deg, #000000 -10.38%, rgba(0, 0, 0, 0.67) 48.34%, #000000 107.06%);
}
